
#logo{
    height: 50px;
}
#img1{
    background-image: url(../img/ba1.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    filter: brightness(0.5);
}
#img2{
    background-image: url(../img/ba2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    filter: brightness(0.5);
}
#img3{
    background-image: url(../img/ba3.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    filter: brightness(0.5);
}
#honopic{
    background-image: url(../img/honolulu.jpg);
    background-size: cover;
    min-height: 80vh;
}
#foot{
    background: linear-gradient(
90deg, rgb(9, 39, 53), rgb(24, 108, 156));
    min-height: 80px;
    margin-top: 3em !important;
}
#foot a{
    color: white !important;
}
#sect1{
    margin:3em 0px;
}
#formorador{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
}
#cajatexto{
    background-color: rgb(63, 61, 61);;
}
#titulo1{
    text-align: center;
    padding: 3em 0px 1em 0px;
}
#subrayado{
    text-decoration: underline dotted !important;
}

.card.medio{
    padding: 0px 3em;
}

nav{
    background-color: rgb(63, 61, 61);
    padding:0px 100px;  
}
.navbar-brand{
    color:white !important;
}
.nav-link.active{
    color:white !important;
}
.top{
    color:gray !important;
}
.mid{
    color: white;
}
.nav-link.compra{
    color:rgb(39, 185, 39) !important;
}
.llamadaAccion{
    position:absolute;
    top:50%;
    left:55%;
    color:white;
    margin-right: 15%;
    text-align: right;
}
form{
    margin:0px 10%;
}
#bt-submit{
    width: 100%;
    background-color: rgb(89, 175, 108);
}
.Opciones{
    margin: 2em 20% 0 32% !important;
    
}
.llamada{
    font-size: .9em;
}
.formTickets{
    margin: 2em 30% 1em 32% !important;
}
#total{
    margin: 2em 0;
    background-color:rgb(166, 219, 252) ;
    color: black;
}
.d-grid button{
    width: 60%;
}
.card-body{
    cursor: pointer;
}

@media (max-width: 1280px) {
    footer{
        margin-top: 8em;
    }
 }
 @media (max-width: 414px) {
    footer{
        margin-top: 12em;
    }
    .Opciones{
        margin: 2em 1rem 0 3.5rem !important;
    }
    .formTickets{
        margin: 2rem 0 1em 4.5rem !important;
    }
    form{
        margin:0 !important;
        width:250px;
    }
    section{
        width:360px;
    }
    nav{
        padding:0px 0px;  
    }
    .btn-success{
        width:16rem!important;
        background-color: rgb(89, 175, 108);
    }
    .llamadaAccion{
        position:absolute;
        top:30%;
        left:10%;
        color:white;
        margin-right: 15%;
        text-align: right;
    }
    #btnOrador{
        width:16rem;
    }
    #btnInfo{
        margin-bottom: 3rem;
    }
    #formorador{
        width:100%;      
    }
    #datosorador{
        margin-left: 4rem!important;
    }
    #titulo1{
        margin-left: 2rem!important;
    }
 }
